/*-----------------------------------GENERAL-----------------------------------------*/
:root {
}
body {
  background-color: #181719;
  color: white;
}
/*-----------------------------------NAV-----------------------------------------*/
nav {
  margin-bottom: 2em;
}
.menu {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10vw;
  top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  border-radius: 50%;
  z-index: 999;
}
.nav-options {
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
  transition: transform 0.5s ease;
}
.nav-options a {
  margin: 1em 0;
}
.nav-move {
  transform: translateY(0);
  transition: transform 0.5s ease;
}

.nav-logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.nav-logo p {
  display: inline;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  border: 1px solid white;
}

/*-----------------------------------MAIN-----------------------------------------*/
