/*-----------------------------------GENERAL-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500&display=swap");
:root {
  --letter-one: "Montserrat", sans-serif;
  --letter-two: "Lora", serif;
  --letter-three: "Crimson Pro", serif;
}
body {
  background-color: #181719;
  color: white;
  font-family: var(--letter-one);
}
/*-----------------------------------NAV-----------------------------------------*/
nav {
  margin-bottom: 2em;
}
.menu {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10vw;
  top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  border-radius: 50%;
  z-index: 999;
}
.nav-options {
  position: fixed;
  transform: translateY(-100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
  transition: transform 0.5s ease;
  background-color: #181719;
}
.nav-options a {
  margin: 1em 0;
  color: white;
  text-decoration: none;
}
.nav-move {
  transform: translateY(0);
  transition: transform 0.5s ease;
}

.nav-logo {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.nav-logo p {
  display: inline;
  margin: 0.5em;
  padding: 0.5em 0.5em;
  border: 1px solid white;
  font-family: var(--letter-three);
}
/*Description*/
.description {
  display: flex;
  flex-direction: column;
}
.description-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--letter-two);
  font-weight: 400;
}
.description-text {
  margin-bottom: 1rem;
  width: 80%;
  font-weight: 300;
  color: #fff;
}
.description-link {
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
/*presentation*/
.presentation {
  position: relative;
  margin-bottom: 20vh;
}
.presentation img {
  width: 100%;
}
.presentation-desc {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  background-color: #191719;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.presentation-desc div {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0.5em 0;
}
.presentation-desc div div:first-child {
  flex: 0 0 30%;
  margin-left: 0.5em;
}
.presentation-desc div div:first-child img {
  border-radius: 50%;
}
.presentation-desc div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 50%;
  line-height: 1.5rem;
  margin-left: 0.5em;
}
.presentation-desc-author {
  font-weight: 500;
}
.presentation-desc-job {
  font-weight: 500;
  color: #828282;
}
.presentation-desc-sign {
  line-height: 1.5rem;
  width: 70%;
  margin: 0 0 0.5rem 1rem;
  font-family: var(--letter-two);
  font-weight: 700;
}
/*-----------------------------------MAIN-----------------------------------------*/
